.img-box:hover .p {
  top: 0;
}

.p {
  transition: 0.5s all;
}


.banner-astronout {
  position: absolute;
  animation: astronout 2s infinite alternate linear;
  -webkit-animation: astronout 2s infinite alternate linear;
  width: 400px;
}


@keyframes astronout {
  0% {
    left: 70%;
    top: 25%;
  }

  100% {
    left: 60%;
    top: 35%;
  }
}

.list-item {
  transition: transform ease .4s;
  padding: 0 10px;
}

.list-item:hover {
  transform: scale(1.3);
}